#box{
    min-height:600px;
    width:850px;
    background:white;
    margin:50px auto;
    border-radius:35px;
    }
    .left{
    background:white;
    height:600px;
    width:425px;
    border-radius:35px 0px 0px 35px;
    float:left;
    }
    
    .fm{
        justify-content: center;
        align-items: center;
        display: grid;
    }
    p{
    text-align:center;
    font-size:28px;
    font-weight:bold;
    letter-spacing:2px;
    
    }
    .txt{
    height:45px;
    width:240px;
    border:none;
    box-shadow:0px 0px 6px 3px rgb(228, 228, 228);
    }
    .btn{
    height:45px;
    width:240px;
    border:none;
    background:rgb(47, 46, 47);
    color:white;
    font-size:20px;
    font-weight:bold;
    transition:all 3s;
    }
    .btn1{
       
        width: 240px;
        border: none;
        color: rgb(22, 22, 22);
        background:rgb(227, 227, 227);
        font-size: 15px;
        transition: all 2s;
        margin-top: 3px;
    }
    
    .btn:hover{
    background:linear-gradient(rgb(198, 201, 201),rgb(96, 95, 96));
    height:45px;
    transition:all 2s;
    }
